<div class="container mt-5">
    <div class="card card-login">
        <form class="form" #queryForm="ngForm" (ngSubmit)="search()">
            <!-- <div class="card-header card-header-primary text-center">
                <h4 class="card-title mx-auto">Find a Recipe</h4>
            </div> -->
            <div class="mt-5 card-body text-center">
                <div class="container px-5 text-center">
                    <div class="form-group">
                        <label id="queryLabel" name="queryLabel" for="query">Enter an ingredient to search for</label>
                        <input class="form-control" type="text" required name="query" id="query" [(ngModel)]="queryTerm" aria-labelledby="queryLabel"/>                        
                    </div>

                    <div class="form-group">

                        <div class="d-flex">

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="celery" [(ngModel)]="queryOptions.celeryfree">
                                        <span class="toggle"></span>
                                        Celery Free
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="crustacean" [(ngModel)]="queryOptions.crustaceanfree">
                                        <span class="toggle"></span>
                                        Crustacean Free
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="dairy" [(ngModel)]="queryOptions.dairyfree">
                                        <span class="toggle"></span>
                                        Dairy Free
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex">

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="egg" [(ngModel)]="queryOptions.eggfree">
                                        <span class="toggle"></span>
                                        Egg Free
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="gluten" [(ngModel)]="queryOptions.glutenfree">
                                        <span class="toggle"></span>
                                        Gluten Free
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex flex-row mx-auto">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" name="kosher" [(ngModel)]="queryOptions.kosher">
                                        <span class="toggle"></span>
                                        Kosher
                                    </label>
                                </div>
                            </div>

                        </div> 
                        
                        
                    </div>

                    <div class="form-group mb-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-primary" [disabled]="!queryForm.form.valid">Search Recipe</button>
                                </div>
    
                                <div class="col-lg-6">
                                    <button type="button" (click)="randomSearch()" class="btn btn-primary">Random Recipe</button>
                                </div>
                            </div>                            
                        </div>                                                
                    </div>
                </div>
                
                <div class="container mt-5">
                    <div class="d-flex flex-row align-content-center justify-content-center">
                        <h5>You should make...</h5>
                    </div>
                
                    <div *ngIf="!isLoading && !error" class="d-flex flex-row align-content-center justify-content-center wow bounceInUp">
                        <div class="card">
                            <app-image-view [imageUrl]="currentFuckingRecipe.image_url"></app-image-view>
                
                            <div class="card-body">
                                <h3 class="card-title">{{ currentFuckingRecipe.title }}</h3>
                
                                <a class="btn btn-primary mx-auto float-right" target="_blank" href="{{ currentFuckingRecipe.source_url }}">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                
                    <div *ngIf="isLoading" class="d-flex flex-row align-content-center justify-content-center">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                    <div *ngIf="isLoading" class="d-flex flex-row align-content-center justify-content-center">
                        Loading...
                    </div>
                
                    <div *ngIf="!isLoading && error" class="d-flex flex-row align-content-center justify-content-center">
                        <h5>Oops, there was an error. This could be due to heavy traffic. Try again in a minute!</h5>
                    </div>
                </div>
            </div>
        </form>        
    </div>
</div>