<div class="container">
    <div class="d-flex flex-row align-content-center justify-content-center">
        <h5>You should make...</h5>
    </div>

    <div *ngIf="!isLoading && !error" class="d-flex flex-row align-content-center justify-content-center">
        <h3>{{ currentFuckingRecipe.title }}</h3>
    </div>
    
    <div *ngIf="!isLoading && !error" class="d-flex flex-row align-content-center justify-content-center">
        <app-image-view [imageUrl]="currentFuckingRecipe.image_url"></app-image-view>
    </div>

    <div *ngIf="!isLoading && !error" class="d-flex flex-row align-content-center justify-content-center">
        <a class="btn btn-primary my-3" target="_blank" href="{{ currentFuckingRecipe.source_url }}">
            <i class="fas fa-external-link-alt"></i>
            See Recipe
        </a>
    </div>

    <div *ngIf="isLoading" class="d-flex flex-row align-content-center justify-content-center">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="isLoading" class="d-flex flex-row align-content-center justify-content-center">
        Loading...
    </div>

    <div *ngIf="!isLoading && error" class="d-flex flex-row align-content-center justify-content-center">
        <h5>Oops, there was an error. This could be due to heavy traffic. Try again in a minute!</h5>
    </div>

    <div class="d-flex flex-row align-content-center justify-content-center">
        <form #queryForm="ngForm" (ngSubmit)="search()">
            <div class="form-group">
                <input class="form-control" type="text" required name="query" id="query" [(ngModel)]="queryTerm"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!queryForm.form.valid">Get Another Fucking Recipe</button>
            </div>            
        </form>
    </div>
</div>